
.env
visual_basic/MQTT_Connection/config.json
visual_basic/MQTT_Connection/.env
visual_basic/MQTT_Connection/.vs/MQTT_Connection/FileContentIndex/746baf0a-3e12-4034-a6b3-f05eaf6715cd.vsidx
visual_basic/MQTT_Connection/Credenciales
